[Unit]
Description=Gunicorn instance to serve AirBnB Project
After=network.target
After=syslog.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=/home/ubuntu/.local/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --access-logfile /tmp/airbnb-access.log --error-logfile /tmp/airbnb-error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
